<h1 class="text-center">
    Hello, Welcome to <%= title %>
</h1>

<div class="row lead">
    <div class="col-sm-4">
        <h3 class="text-capitalize">
            <%= data.title %>
        </h3>
    </div>
    <div class="col-sm-8">
        <%= data.content %>
    </div>
</div>